<h1>ログイン</h1>

<% if @login_form.errors.present? %>
  <ul>
    <% @login_form.errors.full_messages.each do |msg| %>
      <li style="color:red"><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @login_form, url: session_path, local: true, data: { turbo: false } do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, value: @login_form.email %>
  </div>
  
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "ログイン" %>
<% end %>